In [1]:
import pandas as pd
import numpy as np

In [82]:
df = pd.read_excel('train_5.xlsx')

In [83]:
df.iloc[14541]

TUKETIM_M1                          38.756095
TUKETIM_M2                         400.479651
TUKETIM_M3                         386.169544
TUKETIM_M4                         172.909355
TUKETIM_M5                         183.482988
TUKETIM_M6                            317.209
TUKETIM_M7                         319.933545
TUKETIM_M8                         206.121768
TUKETIM_M9                         194.756281
TUKETIM_M10                        185.234864
TUKETIM_M11                        195.559365
TUKETIM_M12                         437.88207
TUKETIM_M13                        414.186588
TUKETIM_M14                        582.653639
TUKETIM_M15                        527.138539
TUKETIM_M16                        230.767759
TUKETIM_M17                        273.345242
TUKETIM_M18                        361.587353
TUKETIM_M19                         371.09932
TUKETIM_M20                        294.870984
TUKETIM_M21                        287.038065
TUKETIM_M22                          346.9215
TUKETIM_M23                        325.408084
TUKETIM_M24                         -159.9972
DEMAND_M1                               3.592
DEMAND_M2                                 NaN
DEMAND_M3                               4.372
DEMAND_M4                                 NaN
DEMAND_M5                               0.336
DEMAND_M6                                 NaN
DEMAND_M7                               2.136
DEMAND_M8                                 NaN
DEMAND_M9                               2.952
DEMAND_M10                                NaN
DEMAND_M11                              2.192
DEMAND_M12                                NaN
SOB_RISK_SKORU                            0.0
SOKAK_RISK_SKORU                     0.003356
MAHALLE_RISK_SKORU                   0.001675
TESISAT_TIPI                           Mesken
SAYAC_BASLANGIC_TARIHI    2016-10-04 00:00:00
SAYAC_BITIS_TARIHI        9999-12-31 00:00:00
SAYAC_MARKA                        ELEKTROMED
SAYAC_MODEL                          EC018MBW
SAYAC_MALZEME_ID                   80000020.0
SAYAC_OLCUM_TURU                        Aktif
SAYAC_FAZ_N                          Monofaze
SAYAC_TAKILMA_TARIHI      2016-10-04 00:00:00
SAYAC_YAPIM_YILI                       2013.0
NK_FLAG                                     0
Name: 14541, dtype: object

In [12]:
pd.options.display.max_columns = 999
df.head()

,TUKETIM_M1,TUKETIM_M2,TUKETIM_M3,TUKETIM_M4,TUKETIM_M5,TUKETIM_M6,TUKETIM_M7,TUKETIM_M8,TUKETIM_M9,TUKETIM_M10,TUKETIM_M11,TUKETIM_M12,TUKETIM_M13,TUKETIM_M14,TUKETIM_M15,TUKETIM_M16,TUKETIM_M17,TUKETIM_M18,TUKETIM_M19,TUKETIM_M20,TUKETIM_M21,TUKETIM_M22,TUKETIM_M23,TUKETIM_M24,DEMAND_M1,DEMAND_M2,DEMAND_M3,DEMAND_M4,DEMAND_M5,DEMAND_M6,DEMAND_M7,DEMAND_M8,DEMAND_M9,DEMAND_M10,DEMAND_M11,DEMAND_M12,SOB_RISK_SKORU,SOKAK_RISK_SKORU,MAHALLE_RISK_SKORU,TESISAT_TIPI,SAYAC_BASLANGIC_TARIHI,SAYAC_BITIS_TARIHI,SAYAC_MARKA,SAYAC_MODEL,SAYAC_MALZEME_ID,SAYAC_OLCUM_TURU,SAYAC_FAZ_N,SAYAC_TAKILMA_TARIHI,SAYAC_YAPIM_YILI,NK_FLAG
0,54.067286,260.483048,275.618048,273.467499,281.655063,352.713057,415.387382,506.970118,536.242000,497.518271,471.083198,315.163173,315.871357,274.376412,300.337088,273.352000,266.875034,309.120407,326.750892,354.539943,318.070421,330.373589,345.701621,327.902260,5.772,7.664,NaN,7.228,8.520,4.524,6.028,5.820,2.580,6.264,7.172,3.008,0.002008,0.000000,0.009129,Mesken,2016-10-18,9999-12-31 00:00:00,LUNA,LUN1,80000100.0,Aktif,Monofaze,2016-10-18,2012.0,0
1,125.413387,227.864889,253.651891,230.289027,241.382306,248.334700,217.821800,249.203886,246.356225,203.709124,204.614265,227.282016,252.688863,234.528121,290.624533,269.826633,215.697424,202.549150,230.007616,239.995010,226.454837,220.314917,218.741546,211.675245,5.196,7.884,8.396,6.692,5.972,6.832,3.304,3.772,3.808,3.124,3.276,7.988,0.014563,0.011905,0.006006,Mesken,2016-09-25,9999-12-31 00:00:00,ELEKTROMED,EC058MBW,80000730.0,Aktif,Monofaze,2016-09-25,2015.0,0
2,308.273107,386.164464,392.016065,238.200398,163.968966,162.782897,187.088937,212.920402,204.618086,181.509614,162.532761,180.364045,200.545258,177.086519,193.950044,211.346271,238.872425,257.272032,294.784710,283.357450,226.819491,230.758659,206.737582,194.363068,4.644,3.816,2.880,4.136,2.440,1.672,1.372,1.664,2.188,2.152,2.352,2.236,0.000000,0.000000,0.004923,Mesken,2016-10-11,9999-12-31 00:00:00,ELEKTROMED,EC15ATBW,80000730.0,Aktif,Trifaze,2016-10-11,2016.0,0
3,23.105143,49.197286,64.653696,73.807875,31.418710,31.834563,24.261624,27.079161,26.952110,32.072690,24.478705,42.151289,51.868976,55.239458,108.295683,89.818174,37.593545,27.744979,26.212989,21.814145,22.798067,18.199133,18.319485,24.635136,0.160,0.364,0.404,0.424,0.284,0.356,0.204,0.156,0.208,0.288,0.268,0.296,0.013100,0.007194,0.016481,Ticarethane-Sanayi,2016-05-24,9999-12-31 00:00:00,LUNA,LUN10,80000710.0,Aktif,Monofaze,2016-05-24,2016.0,0
4,36.016793,48.795995,50.209868,50.969201,49.746943,89.461700,328.368786,469.163521,432.848994,461.588897,606.119366,688.857188,728.733365,509.289004,532.276781,632.535600,646.499034,624.308966,575.821111,540.784103,594.512266,672.500911,46.106609,0.000000,4.168,4.156,3.180,4.180,2.740,3.124,4.108,2.900,4.288,3.508,4.424,7.324,0.002915,0.000000,0.003135,Mesken,2018-05-30,9999-12-31 00:00:00,LUNA,LUN10-B,80001000.0,Aktif,Monofaze,2018-05-30,2017.0,0

In [11]:
df.describe()

,TUKETIM_M1,TUKETIM_M2,TUKETIM_M3,TUKETIM_M4,TUKETIM_M5,TUKETIM_M6,TUKETIM_M7,TUKETIM_M8,TUKETIM_M9,TUKETIM_M10,TUKETIM_M11,TUKETIM_M12,TUKETIM_M13,TUKETIM_M14,TUKETIM_M15,TUKETIM_M16,TUKETIM_M17,TUKETIM_M18,TUKETIM_M19,TUKETIM_M20,TUKETIM_M21,TUKETIM_M22,TUKETIM_M23,TUKETIM_M24,DEMAND_M1,DEMAND_M2,DEMAND_M3,DEMAND_M4,DEMAND_M5,DEMAND_M6,DEMAND_M7,DEMAND_M8,DEMAND_M9,DEMAND_M10,DEMAND_M11,DEMAND_M12,SOB_RISK_SKORU,SOKAK_RISK_SKORU,MAHALLE_RISK_SKORU,SAYAC_MALZEME_ID,SAYAC_YAPIM_YILI,NK_FLAG
count,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,14956.000000,14899.000000,14845.000000,14800.000000,14746.000000,14707.000000,14664.000000,14608.000000,14568.000000,14515.000000,14456.000000,14360.000000,14929.000000,12612.000000,14217.000000,12631.000000,14055.000000,12418.000000,13978.000000,12243.000000,13766.000000,12242.000000,13692.000000,11825.000000,15000.000000,15000.000000,15000.000000,1.495000e+04,14950.000000,15000.000000
mean,96.208479,205.978455,223.982149,217.158467,183.984799,184.405282,215.505007,248.644492,232.900504,205.188164,186.216120,185.762185,209.439962,211.400576,227.231838,215.400452,181.813745,185.850441,212.245346,245.245926,228.493768,187.253831,171.360149,159.670519,2.965882,3.398323,3.289800,3.142504,2.676995,2.304148,2.371124,2.434009,2.298214,2.584867,2.652326,4.903145,0.012733,0.015385,0.015423,8.000066e+07,2014.799130,0.068000
std,423.739447,806.797729,562.430605,1388.820828,1311.605920,1063.798858,1162.260886,1100.215516,1112.950045,1337.520990,815.451431,1227.890992,1574.521488,1499.281161,630.096126,767.122276,681.828994,950.896200,847.143263,754.127130,667.144225,322.313044,292.919080,290.230780,5.583334,2.748383,2.760945,2.494704,2.066277,1.930819,1.969826,2.084839,1.916677,2.020813,6.961637,204.339999,0.026829,0.135404,0.062241,3.202995e+02,2.466089,0.251754
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-159.997200,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000e+07,2007.000000,0.000000
25%,18.663720,67.464279,72.497774,71.253761,70.489054,72.638329,78.729780,81.960615,77.956021,74.530854,70.880832,67.422199,70.927174,68.199922,73.513714,74.332489,72.989372,75.684527,80.527145,83.570039,80.099301,74.431537,70.935518,66.885138,1.344000,1.776000,1.664000,1.612000,1.492000,1.108000,1.280000,1.084000,1.044000,1.480000,1.376000,1.592000,0.001531,0.000000,0.002672,8.000071e+07,2013.000000,0.000000
50%,57.967004,147.897623,156.901631,152.988106,136.929436,138.537125,151.135455,167.395119,156.945536,144.954876,140.683667,136.948706,147.213597,140.053495,156.308486,153.405131,139.672244,140.645618,150.976357,165.241883,157.434344,143.553273,137.515010,128.448784,2.508000,2.940000,2.812000,2.716000,2.388000,2.172000,2.232000,2.268000,2.160000,2.372000,2.304000,2.624000,0.005666,0.000000,0.006691,8.000073e+07,2015.000000,0.000000
75%,119.764778,244.215963,267.343281,251.375305,203.995790,201.954775,238.281348,288.195682,261.602692,224.807583,212.418585,210.704846,236.794562,235.207829,267.282745,252.947487,211.499773,207.428468,241.449070,287.237462,264.199954,218.611832,203.310561,188.907213,4.048000,4.816000,4.736000,4.420000,3.544000,3.016000,3.152000,3.356000,3.120000,3.384000,3.380000,4.096000,0.013746,0.010340,0.013659,8.000096e+07,2017.000000,0.000000
max,47318.985000,90851.355000,47803.770000,162381.240000,111955.470968,95467.680000,110822.519806,112852.579355,98479.082839,142768.472000,66037.545000,131526.990000,159420.555000,160152.930000,56610.225000,75857.985000,62481.510000,105136.920000,85597.155000,68889.555000,66899.385000,14361.357352,12878.880000,16314.555000,617.000000,65.428000,96.736000,66.698000,39.951000,42.688000,55.620000,56.088000,48.259000,43.868000,777.215000,22222.000000,1.127251,14.264706,4.208696,8.000103e+07,2020.000000,1.000000

In [6]:
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data

                        Total   Percent
DEMAND_M12               3175  0.211667
DEMAND_M10               2758  0.183867
DEMAND_M8                2757  0.183800
DEMAND_M6                2582  0.172133
DEMAND_M2                2388  0.159200
DEMAND_M4                2369  0.157933
DEMAND_M11               1308  0.087200
DEMAND_M9                1234  0.082267
DEMAND_M7                1022  0.068133
DEMAND_M5                 945  0.063000
DEMAND_M3                 783  0.052200
TUKETIM_M24               640  0.042667
TUKETIM_M23               544  0.036267
TUKETIM_M22               485  0.032333
TUKETIM_M21               432  0.028800
TUKETIM_M20               392  0.026133
TUKETIM_M19               336  0.022400
TUKETIM_M18               293  0.019533
TUKETIM_M17               254  0.016933
TUKETIM_M16               200  0.013333
TUKETIM_M15               155  0.010333
TUKETIM_M14               101  0.006733
DEMAND_M1                  71  0.004733
SAYAC_FAZ_N                50  0.003333
SAYAC_MODEL                50  0.003333
SAYAC_YAPIM_YILI           50  0.003333
SAYAC_MARKA                50  0.003333
SAYAC_TAKILMA_TARIHI       50  0.003333
SAYAC_BITIS_TARIHI         50  0.003333
SAYAC_OLCUM_TURU           50  0.003333
SAYAC_BASLANGIC_TARIHI     50  0.003333
SAYAC_MALZEME_ID           50  0.003333
TUKETIM_M13                44  0.002933
TESISAT_TIPI                0  0.000000
SOKAK_RISK_SKORU            0  0.000000
MAHALLE_RISK_SKORU          0  0.000000
TUKETIM_M1                  0  0.000000
SOB_RISK_SKORU              0  0.000000
TUKETIM_M2                  0  0.000000
TUKETIM_M12                 0  0.000000
TUKETIM_M11                 0  0.000000
TUKETIM_M10                 0  0.000000
TUKETIM_M9                  0  0.000000
TUKETIM_M8                  0  0.000000
TUKETIM_M7                  0  0.000000
TUKETIM_M6                  0  0.000000
TUKETIM_M5                  0  0.000000
TUKETIM_M4                  0  0.000000
TUKETIM_M3                  0  0.000000
NK_FLAG                     0  0.000000

In [7]:
for col in df.columns:
        print(str(col) +" : " + str(df[col].nunique()))

TUKETIM_M1 : 14164
TUKETIM_M2 : 14317
TUKETIM_M3 : 14380
TUKETIM_M4 : 14382
TUKETIM_M5 : 14474
TUKETIM_M6 : 14472
TUKETIM_M7 : 14523
TUKETIM_M8 : 14489
TUKETIM_M9 : 14481
TUKETIM_M10 : 14454
TUKETIM_M11 : 14456
TUKETIM_M12 : 14382
TUKETIM_M13 : 14385
TUKETIM_M14 : 14266
TUKETIM_M15 : 14269
TUKETIM_M16 : 14199
TUKETIM_M17 : 14223
TUKETIM_M18 : 14219
TUKETIM_M19 : 14240
TUKETIM_M20 : 14131
TUKETIM_M21 : 14095
TUKETIM_M22 : 14031
TUKETIM_M23 : 13975
TUKETIM_M24 : 13831
DEMAND_M1 : 3016
DEMAND_M2 : 2948
DEMAND_M3 : 3074
DEMAND_M4 : 2810
DEMAND_M5 : 2746
DEMAND_M6 : 2326
DEMAND_M7 : 2485
DEMAND_M8 : 2350
DEMAND_M9 : 2468
DEMAND_M10 : 2433
DEMAND_M11 : 2708
DEMAND_M12 : 2707
SOB_RISK_SKORU : 2879
SOKAK_RISK_SKORU : 1377
MAHALLE_RISK_SKORU : 1426
TESISAT_TIPI : 2
SAYAC_BASLANGIC_TARIHI : 1556
SAYAC_BITIS_TARIHI : 1
SAYAC_MARKA : 9
SAYAC_MODEL : 76
SAYAC_MALZEME_ID : 34
SAYAC_OLCUM_TURU : 2
SAYAC_FAZ_N : 2
SAYAC_TAKILMA_TARIHI : 1556
SAYAC_YAPIM_YILI : 14
NK_FLAG : 2

In [5]:
eksik_df = df[df.SAYAC_BASLANGIC_TARIHI != df.SAYAC_TAKILMA_TARIHI]

In [10]:
df.iloc[318,:]

REF_TARIH                 2019-12-17 00:00:00
TUKETIM_M1                         320.324594
TUKETIM_M2                         447.463692
TUKETIM_M3                         418.800964
TUKETIM_M4                         453.369681
TUKETIM_M5                         498.048521
TUKETIM_M6                         487.711548
TUKETIM_M7                         494.362265
TUKETIM_M8                         510.886632
TUKETIM_M9                         569.600103
TUKETIM_M10                        482.402448
TUKETIM_M11                        552.343491
TUKETIM_M12                        606.066501
TUKETIM_M13                        588.621031
TUKETIM_M14                        630.636105
TUKETIM_M15                        554.393424
TUKETIM_M16                        511.780423
TUKETIM_M17                        714.812055
TUKETIM_M18                         80.220522
TUKETIM_M19                          1.455556
TUKETIM_M20                          1.308444
TUKETIM_M21                          1.856571
TUKETIM_M22                       1741.719857
TUKETIM_M23                        4362.74145
TUKETIM_M24                       5201.255121
DEMAND_M1                               2.024
DEMAND_M2                                 2.5
DEMAND_M3                                 2.5
DEMAND_M4                               2.824
DEMAND_M5                                2.58
DEMAND_M6                               2.684
DEMAND_M7                               2.892
DEMAND_M8                               2.936
DEMAND_M9                                3.12
DEMAND_M10                              2.968
DEMAND_M11                              3.032
DEMAND_M12                                3.2
SOB_RISK_SKORU                       0.036458
SOKAK_RISK_SKORU                     0.019802
MAHALLE_RISK_SKORU                   0.019751
TESISAT_TIPI               Ticarethane-Sanayi
SAYAC_BASLANGIC_TARIHI                    NaT
SAYAC_MARKA                               NaN
SAYAC_MODEL                               NaN
SAYAC_MALZEME_ID                          NaN
SAYAC_OLCUM_TURU                          NaN
SAYAC_FAZ_N                               NaN
SAYAC_TAKILMA_TARIHI                      NaT
SAYAC_YAPIM_YILI                          NaN
NK_FLAG                                     1
Name: 318, dtype: object

demand_m1-demand_4,(xlim=9, bindwidth=0.4)

demand_m6-demand_m9,xlim=7,bindwidth=0.4)

demand_m7-demand_m8,(xlim=7.5, bindwidth=0.4)

demand_m2-demand_3,(xlim=9,bindwidth=0.55)

demand_m5-demand_m10-demand_m11,(xlim=8, bindwidth=0.5)

demand_12(xlim=9, bindwidth=0.5)

tüketim_m1,(bindwidth=25)(300)

tüketim_m2-tüketim_m10,(bindwidth=25)(600)

tüketim_m3-tüketim_m9-tüketim_m15-tüketim_m21,(bindwidth=25)(700)

tüketim_m4-tüketim_m7-tüketim_m16,(bindwidth=30)(650)

tüketim_m5-tüketim_m6-tüketim_m11-tüketim_m12-tüketim_m17-tüketim_m18-tüketim_m22,(bindwidth=30)(500)

tüketim_m8-tüketim_m20,(bindwidth=25)(700)

tüketim_m13-tüketim_m14-tüketim_m19(bindwidth=25)(600)

tüketim_m23,(bindwidth=25)(500)

tüketim_m24,(bindwidth=25)(500)

In [20]:
data[data.TUKETIM_M1 == data.TUKETIM_M1.max()]

,REF_TARIH,TUKETIM_M1,TUKETIM_M2,TUKETIM_M3,TUKETIM_M4,TUKETIM_M5,TUKETIM_M6,TUKETIM_M7,TUKETIM_M8,TUKETIM_M9,TUKETIM_M10,TUKETIM_M11,TUKETIM_M12,TUKETIM_M13,TUKETIM_M14,TUKETIM_M15,TUKETIM_M16,TUKETIM_M17,TUKETIM_M18,TUKETIM_M19,TUKETIM_M20,TUKETIM_M21,TUKETIM_M22,TUKETIM_M23,TUKETIM_M24,DEMAND_M1,DEMAND_M2,DEMAND_M3,DEMAND_M4,DEMAND_M5,DEMAND_M6,DEMAND_M7,DEMAND_M8,DEMAND_M9,DEMAND_M10,DEMAND_M11,DEMAND_M12,SOB_RISK_SKORU,SOKAK_RISK_SKORU,MAHALLE_RISK_SKORU,TESISAT_TIPI,SAYAC_BASLANGIC_TARIHI,SAYAC_MARKA,SAYAC_MODEL,SAYAC_MALZEME_ID,SAYAC_OLCUM_TURU,SAYAC_FAZ_N,SAYAC_TAKILMA_TARIHI,SAYAC_YAPIM_YILI,NK_FLAG
4771,2018-11-14,47318.985,90851.355,47803.77,162381.24,110042.415,95467.68,61190.64,14856.345,57429.54,50376.06,66037.545,131526.99,159420.555,160152.93,56610.225,75857.985,62481.51,105136.92,85597.155,68889.555,66899.385,NaN,NaN,NaN,0.363,0.363,0.363,0.572,0.456,0.315,1.231,0.267,0.423,0.239,NaN,NaN,0.007246,0.008798,0.068185,Ticarethane-Sanayi,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,1

In [46]:
deneme_df = data[(data.TUKETIM_M1 > data.DEMAND_M1*24*30) & (data.DEMAND_M1 != 0)]
#deneme_df[['TUKETIM_M1','DEMAND_M1','NK_FLAG']].head(50)
deneme_df.NK_FLAG.sum()/len(deneme_df)*100

21.21212121212121

In [44]:
deneme_df = data[(data.TUKETIM_M2 > data.DEMAND_M2*24*30) & (data.DEMAND_M1 != 0)]
#deneme_df[['TUKETIM_M1','DEMAND_M1','NK_FLAG']].head(50)
deneme_df.NK_FLAG.sum()/len(deneme_df)*100

12.727272727272727

In [55]:
deneme_df = data[(data.TUKETIM_M11 > data.DEMAND_M11*24*30) & (data.DEMAND_M1 != 0)]
#deneme_df[['TUKETIM_M1','DEMAND_M1','NK_FLAG']].head(50)
deneme_df.NK_FLAG.sum()/len(deneme_df)*100

11.72161172161172

In [42]:
deneme_df = data[(data.TUKETIM_M1 > data.DEMAND_M1*24*30)]
#deneme_df[['TUKETIM_M1','DEMAND_M1','NK_FLAG']].head(50)
deneme_df.NK_FLAG.sum()

37

In [16]:
pd.options.display.max_rows = 999

In [19]:
df_id = pd.DataFrame(df.SAYAC_MODEL.unique(), columns= ["SAYAC_MODEL"])
df_id

for i in df.SAYAC_MODEL.unique():
  df_id.loc[df_id["SAYAC_MODEL"] == i, ["KACAK_SAYISI"]] = df.loc[df.SAYAC_MODEL == i].NK_FLAG.sum()
  df_id.loc[df_id["SAYAC_MODEL"] == i, ["TOPLAM_ABONE"]] = len(df.loc[df.SAYAC_MODEL == i].NK_FLAG)
  df_id.loc[df_id["SAYAC_MODEL"] == i, ["KACAK_ORANI"]] = df_id.KACAK_SAYISI / df_id.TOPLAM_ABONE *100
df_id.sort_values("KACAK_SAYISI", ascending=False)

            SAYAC_MODEL  KACAK_SAYISI  TOPLAM_ABONE  KACAK_ORANI
4               LUN10-B         462.0        2261.0    20.433437
3                 LUN10         128.0        2240.0     5.714286
1              EC058MBW         113.0        3447.0     3.278213
7              EC058MCT          63.0         791.0     7.964602
6          VEM-M580DB0E          42.0         906.0     4.635762
11               LSM-35          33.0         401.0     8.229426
0                  LUN1          33.0        1479.0     2.231237
5              EC018MBW          17.0         794.0     2.141058
12            AEL.MF.07          12.0         425.0     2.823529
45            LSM10-BUZ          11.0          11.0   100.000000
51        LSM40-BUZ-KOM           7.0           7.0   100.000000
2              EC15ATBW           7.0         416.0     1.682692
15            M500.2251           7.0         248.0     2.822581
10        VEM-T5100DB0E           6.0          76.0     7.894737
49          AEL.TF.16-2           6.0          24.0    25.000000
44             LUN23 TF           5.0          26.0    19.230769
46            LUN10 HBR           5.0          10.0    50.000000
18          VEM-M580DB0           5.0         175.0     2.857143
22            M310.2218           4.0         168.0     2.380952
55            M600.2251           4.0           9.0    44.444444
52            AEL.MF.11           3.0           9.0    33.333333
24             LSM35-KM           3.0           9.0    33.333333
26                LUN21           3.0          98.0     3.061224
57           LSM-35 HBR           3.0           7.0    42.857143
28            T510.2251           3.0          45.0     6.666667
19            M500.2211           3.0          49.0     6.122449
14            M550.2251           2.0         179.0     1.117318
69             AC018MBW           1.0           1.0   100.000000
38         LSM40-BUZ-3F           1.0           1.0   100.000000
48           M560.2251S           1.0           3.0    33.333333
67         VEM-M580DBOT           1.0           1.0   100.000000
41         VEM-T5100DB0           1.0          30.0     3.333333
39         VEM-T5100DB2           1.0          19.0     5.263158
9               DA 1118           1.0          36.0     2.777778
20            AEL.TF.16           1.0          49.0     2.040816
8              EC11ATBW           1.0          56.0     1.785714
21          EC25TPA3CHB           1.0          26.0     3.846154
30                LUN20           1.0           1.0   100.000000
65        VEM-T5100DBOT           0.0           3.0     0.000000
59            AEL.TF.20           0.0           1.0     0.000000
60            AEL.MF.02           0.0           1.0     0.000000
61        T300.KOY.2216           0.0           6.0     0.000000
62              KHL.ES6           0.0           1.0     0.000000
63        T300.KMY.2221           0.0           1.0     0.000000
64            AEL.MF.04           0.0           1.0     0.000000
34            NES 10 60           0.0           8.0     0.000000
66            M310.2216           0.0           1.0     0.000000
13            M300.2218           0.0           6.0     0.000000
68            AEL.TF.12           0.0           1.0     0.000000
70             A118T1WS           0.0           1.0     0.000000
71          VEM-M580DB2           0.0           1.0     0.000000
72                LUN22           0.0           1.0     0.000000
73          AEL.TF.04-2           0.0           1.0     0.000000
74  C410.KMY.2211.5H.3K           0.0           1.0     0.000000
75            AEL.TF.01           0.0           1.0     0.000000
58            T510.2256           0.0           7.0     0.000000
16            AEL.MF.03           0.0          34.0     0.000000
56        C500.KMY.2251           0.0           2.0     0.000000
43      T410.2216.5H.3K           0.0           7.0     0.000000
36            AEL.MF.01           0.0          11.0     0.000000
37             A016M1WC           0.0          13.0     0.000000
33                 LUN2           0.0          30.0     0.000000
32            NES 30 80           0.0           9.0     0.000000
40            LSM10-PLC           0.0           6.0     0.000000
31   A-123-E-5H/3K-1F-0           0.0           3.0     0.000000
42            AEL.TF.04           0.0          21.0     0.000000
27            AEL.TF.15           0.0         106.0     0.000000
35         VEM-C5100DB2           0.0           1.0     0.000000
25      T410.2216.6H.3K           0.0          58.0     0.000000
47   A-123-E-5H/3K-3F-0           0.0           3.0     0.000000
23            M200.2214           0.0          49.0     0.000000
50             A016M1W0           0.0           2.0     0.000000
17               VEES-1           0.0          12.0     0.000000
53               VEES-3           0.0           3.0     0.000000
54            VEES-30BD           0.0           3.0     0.000000
76            T600.2251           0.0           1.0     0.000000
29                  NaN           NaN           NaN          NaN

In [21]:
list_1 = ["LUN10-B", "AEL.TF.16-2", "LUN23 TF"] # %20
#list_2 = [LUN10, EC058MBW, VEM-M580DB0E, VEM-M580DB0, LUN21, VEM-T5100DB0, EC25TPA3CHB] # % 3-5
#list_3 = [EC058MCT, LSM-35, VEM-T5100DB0E, T510.2251, M500.2211, ] # % 6-8
#list_4 = [LUN1, EC018MBW, AEL.MF.07, EC15ATBW, M500.2251, M310.2218, M550.2251, EC11ATBW, AEL.TF.16] # % 1-2
list_1

['LUN10-B', 'AEL.TF.16-2', 'LUN23 TF']

In [55]:
SAYAC_MODEL_DICT = {
    'LUN10-B' : "%20",
    'AEL.TF.16-2' : "%20",
    'LUN23 TF' : "%20",
    'EC058MCT' : '%6-8', 
    'LSM-35': '%6-8', 
    'VEM-T5100DB0E': '%6-8', 
    'T510.2251': '%6-8', 
    'M500.2211': '%6-8',
    'LUN10' : '%3-5',
    'EC058MBW' : '%3-5',
    'VEM-M580DB0E' : '%3-5',
    'VEM-M580DB0' :  '%3-5',
    'LUN21' :  '%3-5',
    'EC25TPA3CHB' :  '%3-5',
    'VEM-T5100DB0' :  '%3-5',
    'LUN1' : '%1-3', 
    'EC018MBW': '%1-3', 
    'AEL.MF.07': '%1-3', 
    'EC15ATBW': '%1-3', 
    'M500.2251': '%1-3', 
    'M310.2218': '%1-3', 
    'M550.2251': '%1-3', 
    'EC11ATBW': '%1-3', 
    'AEL.TF.16': '%1-3',
    'EKSIK': 'EKSIK'
}
df.loc[df.SAYAC_MODEL.isnull(),["SAYAC_MODEL"]] = 'EKSIK'
df["SAYAC_MODEL_group"] = df.SAYAC_MODEL.map(SAYAC_MODEL_DICT)
df.loc[df.SAYAC_MODEL_group.isnull(),["SAYAC_MODEL_group"]] = "DIGER"
df["SAYAC_MODEL_group"].value_counts()

AttributeError: 'DataFrame' object has no attribute 'SAYAC_MODEL'

In [38]:
df_id = pd.DataFrame(df.SAYAC_MODEL_group.unique(), columns= ["SAYAC_MODEL_group"])
df_id

for i in df.SAYAC_MODEL_group.unique():
  df_id.loc[df_id["SAYAC_MODEL_group"] == i, ["KACAK_SAYISI"]] = df.loc[df.SAYAC_MODEL_group == i].NK_FLAG.sum()
  df_id.loc[df_id["SAYAC_MODEL_group"] == i, ["TOPLAM_ABONE"]] = len(df.loc[df.SAYAC_MODEL_group == i].NK_FLAG)
  df_id.loc[df_id["SAYAC_MODEL_group"] == i, ["KACAK_ORANI"]] = df_id.KACAK_SAYISI / df_id.TOPLAM_ABONE *100
df_id.sort_values("KACAK_SAYISI", ascending=False)

  SAYAC_MODEL_group  KACAK_SAYISI  TOPLAM_ABONE  KACAK_ORANI
2               %20         473.0        2311.0    20.467330
1              %3-5         293.0        6922.0     4.232881
3              %6-8         108.0        1362.0     7.929515
0              %1-3          84.0        3814.0     2.202412
4             DIGER          43.0         541.0     7.948244
5             EKSIK          19.0          50.0    38.000000

In [43]:
df["SAYAC_OLCUM_TURU"].value_counts()

Aktif    14902
Kombi       48
Name: SAYAC_OLCUM_TURU, dtype: int64

In [57]:
#df.loc[df.SAYAC_OLCUM_TURU == "Aktif",["SAYAC_OLCUM_TURU"]] = "1"
#df.loc[df.SAYAC_OLCUM_TURU == "Kombi",["SAYAC_OLCUM_TURU"]] = "0"
df.loc[df.SAYAC_OLCUM_TURU.isnull(),["SAYAC_OLCUM_TURU"]] = "EKSIK"
df.loc[df.SAYAC_FAZ_N.isnull(),["SAYAC_FAZ_N"]] = "EKSIK"
df

,TUKETIM_M1,TUKETIM_M2,TUKETIM_M3,TUKETIM_M4,TUKETIM_M5,TUKETIM_M6,TUKETIM_M7,TUKETIM_M8,TUKETIM_M9,TUKETIM_M10,TUKETIM_M11,TUKETIM_M12,TUKETIM_M13,TUKETIM_M14,TUKETIM_M15,TUKETIM_M16,TUKETIM_M17,TUKETIM_M18,TUKETIM_M19,TUKETIM_M20,TUKETIM_M21,TUKETIM_M22,TUKETIM_M23,TUKETIM_M24,DEMAND_M1,DEMAND_M2,DEMAND_M3,DEMAND_M4,DEMAND_M5,DEMAND_M6,DEMAND_M7,DEMAND_M8,DEMAND_M9,DEMAND_M10,DEMAND_M11,DEMAND_M12,SOB_RISK_SKORU,SOKAK_RISK_SKORU,MAHALLE_RISK_SKORU,TESISAT_TIPI,SAYAC_BASLANGIC_TARIHI,SAYAC_BITIS_TARIHI,SAYAC_MARKA,SAYAC_MODEL,SAYAC_MALZEME_ID,SAYAC_OLCUM_TURU,SAYAC_FAZ_N,SAYAC_TAKILMA_TARIHI,SAYAC_YAPIM_YILI,NK_FLAG
0,54.067286,260.483048,275.618048,273.467499,281.655063,352.713057,415.387382,506.970118,536.242000,497.518271,471.083198,315.163173,315.871357,274.376412,300.337088,273.352000,266.875034,309.120407,326.750892,354.539943,318.070421,330.373589,345.701621,327.902260,5.772,7.664,NaN,7.228,8.520,4.524,6.028,5.820,2.580,6.264,7.172,3.008,0.002008,0.000000,0.009129,Mesken,2016-10-18,9999-12-31 00:00:00,LUNA,LUN1,80000100.0,Aktif,Monofaze,2016-10-18,2012.0,0
1,125.413387,227.864889,253.651891,230.289027,241.382306,248.334700,217.821800,249.203886,246.356225,203.709124,204.614265,227.282016,252.688863,234.528121,290.624533,269.826633,215.697424,202.549150,230.007616,239.995010,226.454837,220.314917,218.741546,211.675245,5.196,7.884,8.396,6.692,5.972,6.832,3.304,3.772,3.808,3.124,3.276,7.988,0.014563,0.011905,0.006006,Mesken,2016-09-25,9999-12-31 00:00:00,ELEKTROMED,EC058MBW,80000730.0,Aktif,Monofaze,2016-09-25,2015.0,0
2,308.273107,386.164464,392.016065,238.200398,163.968966,162.782897,187.088937,212.920402,204.618086,181.509614,162.532761,180.364045,200.545258,177.086519,193.950044,211.346271,238.872425,257.272032,294.784710,283.357450,226.819491,230.758659,206.737582,194.363068,4.644,3.816,2.880,4.136,2.440,1.672,1.372,1.664,2.188,2.152,2.352,2.236,0.000000,0.000000,0.004923,Mesken,2016-10-11,9999-12-31 00:00:00,ELEKTROMED,EC15ATBW,80000730.0,Aktif,Trifaze,2016-10-11,2016.0,0
3,23.105143,49.197286,64.653696,73.807875,31.418710,31.834563,24.261624,27.079161,26.952110,32.072690,24.478705,42.151289,51.868976,55.239458,108.295683,89.818174,37.593545,27.744979,26.212989,21.814145,22.798067,18.199133,18.319485,24.635136,0.160,0.364,0.404,0.424,0.284,0.356,0.204,0.156,0.208,0.288,0.268,0.296,0.013100,0.007194,0.016481,Ticarethane-Sanayi,2016-05-24,9999-12-31 00:00:00,LUNA,LUN10,80000710.0,Aktif,Monofaze,2016-05-24,2016.0,0
4,36.016793,48.795995,50.209868,50.969201,49.746943,89.461700,328.368786,469.163521,432.848994,461.588897,606.119366,688.857188,728.733365,509.289004,532.276781,632.535600,646.499034,624.308966,575.821111,540.784103,594.512266,672.500911,46.106609,0.000000,4.168,4.156,3.180,4.180,2.740,3.124,4.108,2.900,4.288,3.508,4.424,7.324,0.002915,0.000000,0.003135,Mesken,2018-05-30,9999-12-31 00:00:00,LUNA,LUN10-B,80001000.0,Aktif,Monofaze,2018-05-30,2017.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,48.759310,242.282118,305.187862,364.041376,335.741105,270.324229,261.348077,379.654869,421.752054,302.090882,273.313588,271.481729,416.236948,532.104741,610.505111,553.871929,385.612478,285.438594,345.162857,454.418433,368.258606,282.695716,260.547200,214.292877,5.328,7.224,5.960,4.872,4.148,3.388,2.688,4.956,3.580,2.920,4.908,5.428,0.016393,0.052632,0.007328,Mesken,2017-09-06,9999-12-31 00:00:00,LUNA,LUN10,80000710.0,Aktif,Monofaze,2017-09-06,2016.0,0
14996,22.899931,221.434843,237.899774,237.992259,193.459992,230.845648,235.719764,335.931917,318.189711,201.489560,201.669535,174.729651,215.123833,298.093514,423.104067,317.261615,176.094785,174.265989,184.060482,247.209504,150.804522,201.667942,182.571226,194.766694,2.228,1.564,2.344,2.072,4.000,1.596,2.140,1.464,1.388,2.248,1.096,1.128,0.004237,0.007353,0.002696,Mesken,2016-10-06,9999-12-31 00:00:00,ELEKTROMED,EC058MBW,80000730.0,Aktif,Monofaze,2016-10-06,2014.0,0
14997,35.103419,146.619759,172.015377,198.324000,180.250033,140.946512,143.669681,152.438057,151.259252,164.891766,196.961084,175.498736,176.433015,152.258558,176.394972,179.083778,176.198129,130.197871,76.019394,137.823139,140.514918,103.472215,110.678833,106.792000,2.208,2.068,2.820,2.184,1.952,1.488,1.284,2.304,1.800,1.984,1.788,2.072,0.002849,0.002058,0.009081,Mesken,2016-09-28,9999-12-31 00:00:00,LUNA,LUN1,80000100.0,Aktif,Monofaze,2016-09-28,2012.0,0
14998,1.191094,6.105906,10.661600,6.234114,16.302857,16.211857,60.845087,114.472218,16.684195,0.895071,1.372600,0.211366,0.050284,0.048883,0.053010,0.051321,0.052439,9.199279,54.265455,93.855506,6.811857,18.144267,32.781626,0.040774,0.520,0.372,0.032,0.584,0.988,0.428,0.004,1.568,0.004,0.220,0.004,0.004,0.006024,0.000000,0.003096,Mesken,2016-10-12,9999-12-31 00:00:00,KOHLER,AEL.MF.07,80000520.0,Aktif,Monofaze,2016-10-12,2013.0,0
14999,1.801000,148.223138,787.930217,997.626435,544.624782,665.953845,1158.176583,1427.174758,1262.936199,846.928301,616.413457,446.119320,562.406151,680.873912,884.428760,757.979286,505.790451,601.190281,858.728125,984.255185,1226.724504,755.872544,618.894517,480.052650,0.212,0.024,7.772,7.848,3.356,6.232,6.576,6.200,5.880,5.740,3.480,3.592,0.008591,0.009058,0.002675,Ticarethane-Sanayi,2016-10-13,9999-12-31 00:00:00,ELEKTROMED,EC15ATBW,80000730.0,Aktif,Trifaze,2016-10-13,2015.0,0

In [62]:
df['SAYAC_MARKA'] = df['SAYAC_MARKA'].fillna("EKSIK")
umbrealla = df['SAYAC_MARKA'].unique()

for umb in umbrealla:
  if (umb != 'ELEKTROMED') & (umb != 'LUNA') & (umb != 'EKSIK'):
    df['SAYAC_MARKA'] = df['SAYAC_MARKA'].str.replace(umb, 'DIGER')

df['SAYAC_MARKA'].unique()

array(['LUNA', 'ELEKTROMED', 'DIGER', 'EKSIK'], dtype=object)

In [63]:
imb = df['SAYAC_YAPIM_YILI'].unique()
guncel = 2021
for i in imb:
    df['SAYAC_YAS'] = guncel - df['SAYAC_YAPIM_YILI'] 
df['SAYAC_YAS']
#df['SAYAC_YAS] = df['SAYAC_YAS'].fillna("EKSIK")

0        9.0
1        6.0
2        5.0
3        5.0
4        4.0
        ...
14995    5.0
14996    7.0
14997    9.0
14998    8.0
14999    6.0
Name: SAYAC_YAS, Length: 15000, dtype: float64

In [69]:
#DEMAND=TALEP
df["TUKETIM_TALEP_ORANI_M1"] = df.TUKETIM_M1 /  df.DEMAND_M1

In [70]:
df["TUKETIM_TALEP_ORANI_M2"] = df.TUKETIM_M2 /  df.DEMAND_M2

In [72]:
df["TUKETIM_TALEP_ORANI_M3"] = df.TUKETIM_M3 /  df.DEMAND_M3

In [71]:
df["TUKETIM_TALEP_ORANI_M4"] = df.TUKETIM_M4 /  df.DEMAND_M4

In [73]:
df["TUKETIM_TALEP_ORANI_M5"] = df.TUKETIM_M5 /  df.DEMAND_M5

In [74]:
df["TUKETIM_TALEP_ORANI_M6"] = df.TUKETIM_M6 /  df.DEMAND_M6

In [75]:
df["TUKETIM_TALEP_ORANI_M7"] = df.TUKETIM_M7 /  df.DEMAND_M7

In [76]:
df["TUKETIM_TALEP_ORANI_M8"] = df.TUKETIM_M8 /  df.DEMAND_M8

In [77]:
df["TUKETIM_TALEP_ORANI_M9"] = df.TUKETIM_M9 /  df.DEMAND_M9

In [78]:
df["TUKETIM_TALEP_ORANI_M10"] = df.TUKETIM_M10 /  df.DEMAND_M10

In [79]:
df["TUKETIM_TALEP_ORANI_M11"] = df.TUKETIM_M11 /  df.DEMAND_M11

In [80]:
df["TUKETIM_TALEP_ORANI_M12"] = df.TUKETIM_M12 /  df.DEMAND_M12

In [ ]:
drop_list = ["SAYAC_MODEL", "SAYAC_MALZEME_ID", "SAYAC_TAKILMA_TARIHI", "SAYAC_BITIS_TARIHI"]
df.drop(drop_list, axis=1, inplace=True)